.title {
    font-size: 1.5rem;
}

.postTitle {
    font-weight: 600;
    color: #000000;
}

.listTd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 500px;
    border-bottom: 1px solid #a78bfa;
    padding: 0;
}